:root {
  --background-color: #1e2a38;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  width: 16%;
  border: 1px solid var(--background-color);
  border-radius: 10px;
}

.login-container > h1 {
  color: var(--background-color);
}

.login-container > form {
  height: 50%;
  width: 72%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-container input {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--background-color);
  border-radius: 6px;
  font-size: 1rem;
}

.login-container button {
  width: 100%;
  background-color: var(--background-color);
  color: white;
  padding: 10px;
  border-radius: 6px;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
  border: none;
}

.login-container button:hover {
  cursor: pointer;
  background-color: #3f5671;
  transform: scale(1.1);
}
