:root {
  --color: #1e2a38;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.gameBoard {
  position: fixed;
  top: 5%;
  left: 20%;
  display: flex;
  flex-wrap: wrap;
  width: 15vw;
  height: 21vh;
  width: 50vw;
  height: 70vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.15%;
  /* background-color: #f9fafb; */
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5% 0.5%;
}

.minimap {
  position: relative;
  top: -30%;
  left: 80%;
  width: 15vw;
  height: 22vh;
  font-size: 0;
  z-index: 10;
}

.minitile {
  border: 0.1px solid var(--color);
}

.tile {
  width: 7.5%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
  font-size: 1em;
}

#tiles-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #b1d4e0;
  opacity: 0.75;
  width: 50vw;
  height: 50vh;
  background-color: var(--color);
  border-radius: 20px;
  font-family: "Times New Roman", serif;
  position: fixed;
  top: 25%;
  left: 25%;
}

#tiles-container {
  width: 19em;
  height: 14em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.player-tile {
  width: 28%;
  height: 35%;
  background-color: #b1d4e0;
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.player-avatar {
  height: 60px;
  width: 60px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  /* border-radius: 50%; */
}

#players {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  left: 2%;
}

#player {
  text-align: center;
}

#portfolio-panel {
  position: fixed;
  left: 20%;
  bottom: 0;
  margin: auto;
}

#portfolio-header {
  background-color: var(--color);
  color: #b1d4e0;
  font-size: 1.5rem;
  padding: 1em;
  height: 1em;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

#portfolio-body {
  border-top: 1px solid #b1d4e0;
  width: 50vw;
  background-color: var(--color);
  color: #b1d4e0;
}

.portfolio-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#portfolio-tiles {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 9em;
  height: 7em;
}

#stock-info {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

#stock-info th,
#stock-info td {
  padding: 0.5em;
  border: none;
}

#cash-info {
  padding-top: 0.6em;
}

.hidden {
  display: none;
}

.display {
  display: flex;
}

.highlight {
  background-color: #84dbf8;
  color: #1e2a38;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  animation: pulse-scale 2s infinite ease-in-out;
}

@keyframes pulse-scale {
  0%,
  100% {
    transform: scaleX(0.9) scaleY(0.9);
  }
  50% {
    transform: scaleX(1) scaleY(1);
  }
}

.place-tile {
  background-color: #1e2a38;
  color: #b1d4e0;
}

.active-player {
  border: 4px solid limegreen;
}

#game-tray {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: row;
}

#tray-header {
  background-color: var(--color);
  color: #b1d4e0;
  font-size: 1.5rem;
  padding: 1em;
  height: 80vh;
  width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#tray-body {
  padding: 1em;
  width: 20vw;
  border-left: 1px solid #b1d4e0;
  background-color: var(--color);
  color: #b1d4e0;
  flex-direction: column;
}

summary {
  font-size: 1.4em;
  width: 100%;
  padding: 0.5em;
}

#popup {
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  background-color: #fff;
  border: 2px solid #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

#popup {
  background-color: #b1d4e0;
}

#hotel-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

#hotel-container div {
  text-align: center;
  background-color: #eee;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s, transform 0.2s;
}

#hotel-container div:hover {
  background-color: #ddd;
  transform: scale(1.05);
}

.select-hotel {
  width: 60px;
  height: 60px;
  background-size: contain; /* or use 'cover' */
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ccc;
  margin: 8px;
}

.tower {
  background-color: whitesmoke;
  background-image: url("/images/hotels/tower.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imperial {
  background-color: whitesmoke;
  background-image: url("/images/hotels/imperial.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.continental {
  background-color: whitesmoke;
  background-image: url("/images/hotels/continental.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sackson {
  background-color: whitesmoke;
  background-image: url("/images/hotels/sackson.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.worldwide {
  background-color: whitesmoke;
  background-image: url("/images/hotels/worldwide.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.american {
  background-color: whitesmoke;
  background-image: url("/images/hotels/american.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.festival {
  background-color: whitesmoke;
  background-image: url("/images/hotels/festival.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
