:root {
  --color: #1e2a38;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameBoard {
  position: fixed;
  top: 5%;
  left: 20%;
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  height: 70vh;
  border: 1px solid var(--color);
  background-color: #f9fafb;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5% 0.5%;
}

.tile {
  width: 7.5%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
  border: 1px solid var(--color);
}

#tiles-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #b1d4e0;
  opacity: 0.75;
  width: 50vw;
  height: 50vh;
  background-color: var(--color);
  border-radius: 20px;
  font-family: "Times New Roman", serif;
  position: fixed;
  top: 25%;
  left: 25%;
}

#tiles {
  width: 19em;
  height: 14em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.player-tile {
  width: 28%;
  height: 35%;
  background-color: #b1d4e0;
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.player-avatar {
  height: 60px;
  width: 60px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

#players {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  left: 2%;
}

#player {
  text-align: center;
}

#portfolio-panel {
  position: fixed;
  left: 20%;
  bottom: 0;
  margin: auto;
}

#portfolio-header {
  background-color: var(--color);
  color: #b1d4e0;
  font-size: 1.5rem;
  padding: 1em;
  height: 2em;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
}

#portfolio-body {
  border-top: 1px solid #b1d4e0;
  width: 50vw;
  background-color: var(--color);
  color: #b1d4e0;
}

.portfolio-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#portfolio-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 9em;
  height: 7em;
}

#stock-info {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

#stock-info th,
#stock-info td {
  padding: 0.5em;
  border: none;
}

.hidden {
  display: none;
}

.display {
  display: flex;
}

.highlight {
  background-color: #1e2a38;
  color: #b1d4e0;
}

.place-tile {
  background-color: #b1d4e0;
  color: #1e2a38;
}

.active-player {
  border: 6px solid green;
  box-shadow:
    2px 2px 10px rgba(0, 100, 0, 0.8),
    -2px -2px 10px rgba(0, 100, 0, 0.8);
}

.place-tile {
  background-color: #b1d4e0;
  color: #1e2a38;
}
