* {
  font-family: sans-serif;
}

h1 {
  font-size: 50px;
  color: rgb(29, 39, 48);
}

#player-avatar {
  height: 60px;
  width: 60px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  /* border-radius: 50%; */
}

.player-container {
  background-color: rgb(29, 39, 48);
  height: 130px;
  width: 150px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  color: antiquewhite;
  font-size: 1.2rem;
}

#player-list {
  border: 2px outset black;
  display: flex;
  justify-content: space-around;
  width: 70%;
  padding: 3%;
  height: 700px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
